#form form{
		background-color: #239;
		margin-right: 420px;
		margin-left:420px;
		margin-bottom: 25px;
}

#form form fieldset{
			border: none;
}

.form{
	background-color:#87CEEB!important ;
	margin: 10px;
}

#design input[type="text"],
 #design input[type="number"],
 #design input[type="email"],
 #design textarea{
				width:80%;
				height: 80%
				border:1px solid grey;
				margin:0 0 5px;
				padding:10px;

}

#design input[type="submit"],
#design input[type="reset"]{
				width: 40%;
				background-color: orange;
				height: 8%;
				font-size: 30;
				border-radius: 8px;
				cursor: pointer;
				
				
}

